html {
    font-size: 100%;
    font-family: "Century Gothic", "Arial";
}

body {
    background-color: #0C242B;
    font-size: 2rem;
    min-width: 600px;
    min-height: 300px;
}

.error-content{
    text-align: center;
    margin: 0 auto;
    padding-top: 3%;
}

.message-text {  
    font-size: 2.5rem;
    color: #2aa198;
}

.description-text {
    font-size: 1.5rem;
    color: #2aa198;
}

.home-link-icon{
    padding-top: 5%;
    text-align: center;
    height: 100px;
    width: 100px;
}
